{% extends 'tutoring.html' %}

{% block title %}
{{ payment }}
{% endblock %}

{% block content2 %}
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <br>
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title text-center">
                            {{ payment }}
                        </h2>
                        <p class="card-text text-center">
                            ID: {{ payment.id }}<br>
                            Value: {{ payment.value }}zł<br>
                            Date: {{ payment.date.date() }}<br>
                        </p>
                        <a href="#" class="card-link btn btn-primary">Edit</a>
                        <a href="#" class="card-link btn btn-danger">Delete</a>
                    </div>
                </div>
                <br>
            </div>
            <div class="col">
                <br>
                <a href="{{ url_for('payments') }}" class="btn btn-success text-center">All Payments</a><br><br>
                <a href="{{ url_for('student', student_id=payment.student) }}" class="btn btn btn-success text-center">{{ Student.query.filter_by(id=payment.student).first() }}</a>

            </div>
        </div>
    </div>
{% endblock %}