{% extends 'tutoring.html' %}

{% block title %}Students{% endblock %}

{% block content2 %}


        <div class="row">
            <div class="col">

            </div>
            <div class="col">
            <form method="post" class="form text-center">
                {{ form.hidden_tag() }}
                <div class="form-group text-center">
                    <br>
                    {{ form.name(class='form-control text-center', id='name', placeholder="Name") }}
                    <br>
                    {{ form.hourly_rate(class='form-control text-center', id='hourly_rate', placeholder="Hourly Rate") }}
                    <br>
                    {{ form.submit(class='btn btn-success', type='submit') }}
                </div>

            </form>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <ul class="list-group">
                    {% for student in students %}
                        <li class="list-group-item text-center">
                            <a class="btn-link btn " href="{{ url_for('tutoring.student', student_id=student.id) }}">
                                {{ student }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">

            </div>
        </div>
{% endblock %}